<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello <%= name %></h1>
    <h1>hello <%= 2+2 %></h1>
    <h1>you are <%= age %></h1>
    <h1>you are a  <%= gender %></h1>
    <form action="/todo" method="get">
        <button type="submit">next</button>
    </form>
    <!-- <%=
    
     %> -->
</body>
</html>